.photo{
    max-width: 20vw;
    height: 15vw;
    border-radius: 50px;
    border: solid 5px #986a6a7a;
}
.profil_user {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    background: #d1d1eac9;
    flex-direction: column;
    border-radius: 30px;
    border: solid 10px #098a98;
    padding: 10px;
}
.profil_user > p{
    display: flex;
    padding-right: 50px;
    flex-wrap: wrap;
}


.profil_user > form > p{
    display: flex;
    padding-right: 50px;
    flex-wrap: wrap;
}

.Stat_user {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    background: #d1ead7c9;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    border: solid 10px #619a7a;
    padding: 10px;
}

.view{
    display: flex;
}

.liker{
    display: flex;
}

.popularité {
    font-size: 10vw;
    color: #c26b3c;
    border: solid #d6bcbc73;
    background: #49909061;
    border-radius: 60px;
    width: 18%;
}
.conteneur_horizontal {
    display: flex;
    flex-direction: row;
}

#wrong {
    background: #ff0000a3;
    color: black;
    border-radius: 20px;
    height: 25px;
    display: none;
    align-items: center;
}

#mail_alert {
    background: #1cb308a3;
    color: black;
    border-radius: 20px;
    height: 25px;
    display: none;
    align-items: center;
}

input[type=number]{
    width: 30px;
    background: #ffffff47;
}

.search_elem_intern > input[type=submit] {
    border: 1px solid #77aade;
    width: auto;
    background: #f8fcff85;
    border-radius: 10px;
}

.search_elem_intern > input[type=text] {
    background: #ffffff47;
}
