<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Matcha</title>
        <link rel="stylesheet" href="/accueil.css"  type="text/css">
        <link rel="stylesheet" href="/style2.css"  type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        
    </head>
    <body>
        <header> Matcha </header>
        <div class="conteneur">
            <div id="gauche" class="gauche"></div>
            <div class="pricipale">
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>
                <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                    <img src="/default-user-image.png">
                    <div class="bd"><span>user 1</span><span>23</span></div>
                </div>

            </div>
            <div class="droite">
                <div class="menu_head">Options</div>
                <div class="search_elem"><i class="fas fa-pen"></i>Critères :</div>
                    <div class="search_elem_intern">Attiré.e par :</div>
                        <div class="search_elem_intern">
                            <input type="radio" id="genre" name="drone" value="homme"><label for="homme">homme</label>
                            <input type="radio" id="genre" name="drone" value="femme"><label for="femme">femme</label>
                            <input type="radio" id="genre" name="drone" value="bi"><label for="bi">les 2</label>
                        </div>
                    <div class="search_elem_intern">Localisation :
                        <input type="text">
                    </div>
                    <div class="search_elem_intern">Tags :
                        <input type="text">
                    </div>
                    <div class="search_elem_intern">Popularité min:
                        <input id="slideCol" type="range" value="30" max="100" min="0" step="5">
                        <span id="f">30</span>
                        <script>
                            var y = document.getElementById("f");
                            var slideCol = document.getElementById("slideCol");
                            slideCol.oninput = function() {
                                y.innerHTML = this.value;
                            }
                        </script>
                    </div>
                <div class="search_elem"><i class="fas fa-filter"></i>Filtres :</div>
                <div class="search_elem"><i class="fas fa-exchange-alt fa-rotate-90"></i>Trier par :</div>
            </div>
        </div>
        <footer>Matcha</footer>
        <script src="/dom.js"></script>
        <script type="text/javascript">menu1()</script>
    </body>
</html>
