<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="/accueil.css"  type="text/css">
        <link rel="stylesheet" href="/form.css"  type="text/css">
        <link rel="stylesheet" href="/style2.css"  type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body onload = "getLocation()">
        <header> Creation </header>
        <div class="conteneur">
            <div id="gauche" class="gauche"></div>
            <div class="pricipale">
                <div class ="user_form">
                    <div id="wrong"></div>
                    <form method="POST" action="./creer/create.html" style="padding-top: 50px; padding-bottom: 50px;">
                        <p style="text-decoration: underline";>Mes identifiants :</p>
                        <p>Nom d'utilisateur : <input type="text" name="login" value=""  minlength="5" maxlength="25" required  pattern="^[a-zA-Z0-9_]{5,25}$"></p>
                        <blockquote style="font-size: small; color: #efe1e1;">
                            Le nom d'utilisateur doit faire 5 caractères minimum et ne doit pas comporter d'espace.
                        </blockquote>
                        <p>Genre :  <input type="radio" id="homme" name="genre" value="0"><label for="0">Masculin</label>
                                    <input type="radio" id="femme" name="genre" value="1"><label for="1">Feminin</label></p>
                        <p>Votre adresse email : <input type="email" name="mail" value="" required></p>
                        <p style="display: inline-flex;">Mot de passe : <input type="password" name="mdp" value="" minlength="8" required/>confirmation : <input type="password" name="mdp" value="" minlength="8" required/></p>
                        <blockquote style="font-size: small; color: #efe1e1;">
                            Le mot de passe doit contenir au moins : un caractère spécial, une majuscule, une minuscule, 
                            un chiffre et faire 8 caractères minimum
                        </blockquote>
                        </br>
                        <p>Ma date de naissance : <input type="date" id="naissance" name="naissance" required></p>
                        <p style="text-decoration: underline";>Mes coordonneées :</p>
                        <p style="display: inline-flex;">Nom : <input type="text" name="nom" value="" required>
                        Prénom :<input type="text" name="prenom" value="" required></p>
                        <p id="allow">Ville : <input type="text" name="adr" value="" required> arrondissement : <input type="number" name="arr" min="1" max="20" required></p>
                        <input type="hidden" name="latitude" id="latitude" value="" />
                        <input type="hidden" name="longitude" id="longitude" value="" />
                        <input type="submit" name="submit" value="OK" />
                    </form>
                </div>
            </div>
            <div class="droite">
                <div class="menu_head">Options</div>
                <div class="search_elem"><i class="far fa-plus-square"></i>Creer</div>
                    <div class="search_elem_intern"><a href="creer" style="padding:10px">Je n'ai pas encore de compte</a></div>
                <div class="search_elem"><i class="fas fa-redo"></i>Reset :</div>
                    <div class="search_elem_intern"><a href="reset" style="padding:10px">J'ai oublié mon mot de passe</a></div>
            </div>
        </div>
        <footer>Matcha</footer>
        <script src="/dom.js"></script>
        <script type="text/javascript">menu1();wrong();</script>
        <script>
            function getLocation() {
                console.log("start getLocation");
              if (navigator.geolocation) {
                //navigator.geolocation.getCurrentPosition(showPosition);
                //var nav = navigator.geolocation.getCurrentPosition();
                navigator.geolocation.getCurrentPosition(function showPosition(position) {
                    var lol = "Latitude: " + position.coords.latitude +  "<br>Longitude: " + position.coords.longitude;
                    console.log("coucou");
                    console.log(lol);
                    console.log(position);
                    document.getElementById("longitude").value = position.coords.longitude;
                    document.getElementById("latitude").value = position.coords.latitude;
                    if(position.coords.longitude != "")
                    {
                        document.getElementById("allow").style.display = "none";
                    }
                    } );
              } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
              }
            }
            
            /*function showPosition(position) {
              var lol = "Latitude: " + position.coords.latitude +  "<br>Longitude: " + position.coords.longitude;
              console.log("coucou");
              console.log(lol);
              console.log(position);
              document.getElementById("longitude").value = position.coords.longitude;
              document.getElementById("latitude").value = position.coords.latitude;
            }  */                  
        </script>
    </body>
</html>