<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="/accueil.css"  type="text/css">
        <link rel="stylesheet" href="/form.css"  type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <body>
        <header> Login </header>
        <div class="conteneur">
            <div class="gauche">
                <div class="menu_head">Menu</div>
                <div class="menu_elem"><i class="fas fa-power-off"></i>Deconnection</div>
                <div class="menu_elem"><i class="fas fa-user"></i>Otterqueen</div>
                <div class="menu_elem"><i class="far fa-comments"></i>Chat</div>
                <div class="menu_elem"><i class="far fa-heart"></i>Likes</div>
                <div class="menu_elem"><i class="fas fa-search"></i>Recherche</div>
            </div>