<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Matcha</title>
        <link rel="stylesheet" href="/accueil.css"  type="text/css">
        <link rel="stylesheet" href="/style2.css"  type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        
    </head>
    <body>
        <header> Matcha </header>
        <div class="conteneur">
            <div id="gauche" class="gauche"></div>
            <div class="pricipale">
                <img id="photo_profil" src="https://cdn.intra.42.fr/users/medium_mchapard.JPG"/>
                <div class="profil_user">
                    <p>Genre :  <input type="radio" id="genre" name="drone" value="homme"><label for="homme">Masculin</label>
                    <input type="radio" id="genre2" name="drone" value="femme"><label for="femme">Feminin</label></p>
                    <p>Age :<input type="number" name="age" value=""  min="18" max="77" required>ans</p>
                    <p>Attiré.e par :<input type="radio" id="atti" name="drone" value="homme"><label for="homme">homme</label>
                        <input type="radio" id="atti2" name="drone" value="femme"><label for="femme">femme</label>
                        <input type="radio" id="atti3" name="drone" value="bi"><label for="bi">les 2</label></p>
                    <p>Biography :<textarea id="bio" cols="40" rows="5" maxlength="200" required>entrez votre bio ici (max 200char)</textarea></p>
                    <p>Centres d'interets :<textarea id="hash" cols="40" rows="5" minlength="200" required>ecrivez vos centre d'interet sous la forme #interet1, #interet2</textarea></p>
                    <p>Ville :<input type="text" name="ville" value=""  maxlength="20" required></p>
                </div>
                <div class="Stat_user">
                    Qui a vu votre profil en dernier :<div class="view"> 
                        <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                            <img src="/default-user-image.png">
                            <div class="bd"><span>user 1</span><span>23</span></div>
                        </div>
                        <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                            <img src="/default-user-image.png">
                            <div class="bd"><span>user 1</span><span>23</span></div>
                        </div>
                        <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                            <img src="/default-user-image.png">
                            <div class="bd"><span>user 1</span><span>23</span></div>
                        </div>
                    </div>
                    Qui a liké votre profil en dernier : <div class="liker">
                        <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                            <img src="/default-user-image.png">
                            <div class="bd"><span>user 1</span><span>23</span></div>
                        </div>
                        <div class="user_mini"><div class="bd"><i class="fas fa-venus"></i><span>Paris</span></div>
                            <img src="/default-user-image.png">
                            <div class="bd"><span>user 1</span><span>23</span></div>
                        </div>
                        <div class="user_mini"><div class="bd"><i class="fas fa-mars"></i><span>Paris</span></div>
                            <img src="/default-user-image.png">
                            <div class="bd"><span>user 1</span><span>23</span></div>
                        </div>
                    </div>
                    <div >Votre popularité :<div class="popularité">78</div></div>
                </div>
                
            </div>
            <div class="droite">
                <div class="menu_head">Options</div>
                    <div class="search_elem_intern"><i class="fas fa-pen"></i>
                        <a href="creer" style="padding:10px">Modifier mon compte</a></div>
                    <div class="search_elem_intern"><i class="fas fa-images"></i>
                        <a href="reset" style="padding:10px">Modifier mes photos</a></div>
            </div>
        </div>
        <footer>Matcha</footer>
        <script src="/dom.js"></script>
        <script type="text/javascript">menu1()</script>
    </body>
</html>
