<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Matcha</title>
        <link rel="stylesheet" href="/accueil.css"  type="text/css">
        <link rel="stylesheet" href="/style2.css"  type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">       
    </head>
    <body>
        <header> Matcha </header>
        <div class="conteneur">
            <div id="gauche" class="gauche"></div>
            <div class="pricipale">
                
                <div class="profil_user">
                    <div class="conteneur_horizontal">
                        <img class="photo" id="photo_profil" src=""/>
                        <img class="photo" id="photo_2" src="" style="display:none"/>
                        <img class="photo" id="photo_3" src="" style="display:none"/>
                    </div>
                    <p id="Login_user">Login : </p>
                    <p id="genre">Genre : </p>
                    <p id="age">Age : </p>
                    <div id="mail_alert"></div>
                        <p id="orientation">Attiré.e par :</p>
                        <p>Biography : <span id="bio">entrez votre bio ici (max 200char)<span></p>
                        <p>Centres d'interets : <span id="tag"> ecrivez vos centre d'interet sous la forme #interet1, #interet2</span></p>
                        <p id="ville">Ville :</p>
                        <div >Popularité :<div class="popularité" id="pop">78</div>
                    </div>
                </div>
            </div>
            <div class="droite">
                <div class="menu_head">Options</div>
                    <div class="search_elem_intern"><i class="far fa-heart"></i>
                        <a href="/like" id="like" style="padding:10px">Aimer ce profil</a></div>
                    <div class="search_elem_intern"><i class="fas fa-ban"></i>
                        <a href="ban" style="padding:10px">Bannir ce profil</a></div>
                    <div class="search_elem_intern" id="other_like_me"></div>
                    <div class="search_elem_intern" id="we_match"></div>
            </div>
        </div>
        <footer>Matcha</footer>
        <script src="/dom.js"></script>
        <script type="text/javascript">menu1(); profil_other();</script>
    </body>
</html>
